.quote-container {
  position: relative;
  left: 25%;
  top:25%;
  width: 50%;
  height: 20%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a8d5e5;
  padding: 50px 50px;
  border-radius: 1rem;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.25);
}

#quote {
  font-size: 32px;
  font-weight: 00;
  padding: 1rem;
  color: #2c1b4e;
}

#author {
  font-size: 18px;
  padding: 1rem;
  font-weight: 700;
  color: #2c1b4e;
}

button {
  font-size: 18px;
  padding: 10px 10px;
  border: none;
  margin: 15px 0;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  background-color:#57359c;
  color:#eeebf5;
  font-weight: 700;
  transition: .5s all;
}

button:hover {
  background-color: #b39ce5;
  color: #57359c;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}
